In [1]:
# Import modules
import sys
import os
import pandas as pd

In [2]:
# Append the project root path to sys.path
sys.path.append(os.path.abspath("../scripts"))

In [3]:
# Import Custom Module
import GMF_preprocessing as gp

In [4]:
#define the fetching data values
# assets = ["TSLA", "BND", "SPY"]
start_date = "2015-01-01"
end_date = "2025-01-31"
    
# Fetch and preprocess data for TSLA
df_TSLA = gp.fetch_data("TSLA", start_date, end_date)

YF.download() has changed argument auto_adjust default to True

*********************100%***********************]  1 of 1 completed

In [5]:
#check the fetched data
print(df_TSLA.columns)
df_TSLA.head()

Index(['Close TSLA', 'High TSLA', 'Low TSLA', 'Open TSLA', 'Volume TSLA'], dtype='object')

            Close TSLA  High TSLA   Low TSLA  Open TSLA  Volume TSLA
Date
2015-01-02   14.620667  14.883333  14.217333  14.858000     71466000
2015-01-05   14.006000  14.433333  13.810667  14.303333     80527500
2015-01-06   14.085333  14.280000  13.614000  14.004000     93928500
2015-01-07   14.063333  14.318667  13.985333  14.223333     44526000
2015-01-08   14.041333  14.253333  14.000667  14.187333     51637500

In [6]:
gp.check_missing_values(df_TSLA)

Missing values per asset:
Close TSLA     0
High TSLA      0
Low TSLA       0
Open TSLA      0
Volume TSLA    0
dtype: int64

Close TSLA     0
High TSLA      0
Low TSLA       0
Open TSLA      0
Volume TSLA    0
dtype: int64

In [7]:
gp.preprocess_data(df_TSLA)

C:\Users\HP\OneDrive\Desktop\ai2\kaim-week-11\scripts\GMF_preprocessing.py:28: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  data.fillna(method='ffill', inplace=True)

(            Close TSLA   High TSLA    Low TSLA   Open TSLA  Volume TSLA
 Date
 2015-01-02   14.620667   14.883333   14.217333   14.858000     71466000
 2015-01-05   14.006000   14.433333   13.810667   14.303333     80527500
 2015-01-06   14.085333   14.280000   13.614000   14.004000     93928500
 2015-01-07   14.063333   14.318667   13.985333   14.223333     44526000
 2015-01-08   14.041333   14.253333   14.000667   14.187333     51637500
 ...                ...         ...         ...         ...          ...
 2025-01-24  406.579987  418.880005  405.779999  414.450012     56427100
 2025-01-27  397.149994  406.690002  389.000000  394.799988     58125500
 2025-01-28  398.089996  400.589996  386.500000  396.910004     48910700
 2025-01-29  389.100006  398.589996  384.480011  395.209991     68033600
 2025-01-30  400.279999  412.500000  384.410004  410.779999     98092900

 [2535 rows x 5 columns],
             Close TSLA  High TSLA  Low TSLA  Open TSLA  Volume TSLA
 Date
 2015-01-02    0.010723   0.009519  0.010743   0.011513     0.067348
 2015-01-05    0.009416   0.008578  0.009835   0.010324     0.077377
 2015-01-06    0.009584   0.008257  0.009397   0.009682     0.092210
 2015-01-07    0.009538   0.008338  0.010225   0.010153     0.037529
 2015-01-08    0.009491   0.008201  0.010259   0.010075     0.045400
 ...                ...        ...       ...        ...          ...
 2025-01-24    0.844179   0.854331  0.884559   0.868250     0.050702
 2025-01-27    0.824127   0.828840  0.847112   0.826119     0.052582
 2025-01-28    0.826126   0.816084  0.841533   0.830643     0.042382
 2025-01-29    0.807009   0.811902  0.837025   0.826998     0.063548
 2025-01-30    0.830782   0.840990  0.836869   0.860381     0.096820

 [2535 rows x 5 columns])